{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {# {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %} #}
    <div class="row" style="justify-content: center; ">
        <div class="col-md-6">
            <h1 class="h3 mb-3 font-weight-normal text-center">Register</h1>
            {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.firstName, {'attr' : {
                            'class': 'input-dark'
                        }}) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.lastName, {'attr' : {
                            'class': 'input-dark'
                        }}) }}
                    </div>
                </div>
                {{ form_row(registrationForm.email, {'attr': {
                    'class': 'input-dark'
                }}) }}
                {{ form_row(registrationForm.plainPassword, {'attr' : {
                    'class': 'input-dark'
                }}) }}
                {{ form_row(registrationForm.agreeTerms, {'attr' : {
                    'style' : 'background-color: rgb(50, 200, 200);'
                }}) }}

                <button type="submit" class="btn btn-primary btn-lg" style='width: 100%;' >Register</button>
            {{ form_end(registrationForm) }}
            <p class='text-muted my-4 text-center'>Already have an account? <a href= {{ path('app_login') }}>Sign in!</a> </p>
        </div>
    </div>

{% endblock %}
